[submodule "libeds"]
	path = libeds
	url = https://github.com/robincornelius/libedssharp.git
[submodule "libCanOpenSimple2"]
	path = libCanOpenSimple2
	url = gitlab@gitlab.hirst-magnetics.com:hirst/libCanOpenSimple.git
