/CanMonitor/.vs/CanMonitor/v14/*.suo
/CanMonitor/CanMonitor/obj/Debug
/CanMonitor/CanMonitor/bin/Debug
/libCanopenSimple/obj/Debug
/libCanopenSimple/bin/Debug
/CanMonitor/BWPDOParser/bin/Debug
/CanMonitor/BWPDOParser/obj/Debug
/CanMonitor/PDOInterface/bin/Debug
/CanMonitor/PDOInterface/obj/Debug
/CanMonitor/*.suo
/CanMonitor/Settings/bin/Debug
/CanMonitor/Settings/obj/Debug
/CanMonitor/JLRParser/bin/Debug
/CanMonitor/JLRParser/obj/Debug
*.dll
*.pdb
*.cache
CanMonitor/PluginExample/obj/Debug

