/CanMonitor/.vs/CanMonitor/v14/*.suo
/CanMonitor/CanMonitor/obj/Debug
/CanMonitor/CanMonitor/bin/Debug
/libCanopenSimple/obj/Debug
/libCanopenSimple/bin/Debug
/CanMonitor/BWPDOParser/bin/Debug
/CanMonitor/BWPDOParser/obj/Debug
/CanMonitor/PDOInterface/bin/Debug
/CanMonitor/PDOInterface/obj/Debug
/CanMonitor/*.suo
/CanMonitor/Settings/bin/Debug
/CanMonitor/Settings/obj/Debug
/CanMonitor/JLRParser/bin/Debug
/CanMonitor/JLRParser/obj/Debug
*.dll
*.pdb
*.cache
CanMonitor/PluginExample/obj/Debug
/CanMonitor/TestLoader/bin/Debug
/CanMonitor/TestLoader/obj/Debug
/libCanopenSimpleold/obj/Debug
/libCanopenSimpleold/Properties
/libCanopenSimpleold
*.opendb
*.db

/CanMonitor/FlashLoader/obj/Debug
/CanMonitor/NMTPlugin/obj/Debug
/CanMonitor/CanMonitor/*.user
/CanMonitor/ChargerTestPlugin/obj/Debug
/CanMonitor/SDOEditorPlugin/obj/Debug
/CanMonitor/eeprom_plugin/obj/Debug
/CanMonitor/CanMonitor/obj/Release
/CanMonitor/CanMonitor/version.txt
/CanMonitor/eeprom_plugin/obj/Release
/CanMonitor/.vs/CanMonitor/v15
/CanMonitor/BWPDOParser/obj/Release
/CanMonitor/ChargerTestPlugin/obj/Release
/CanMonitor/DischargeBoardTest/obj/Debug
/CanMonitor/DischargeBoardTest/obj/Release
/CanMonitor/FlashLoader/obj/Release
/CanMonitor/JLRParser/obj/Release
/CanMonitor/PDOInterface/obj/Release
/CanMonitor/NMTPlugin/obj/Release
/CanMonitor/PluginExample/obj/Release
/CanMonitor/SDOEditorPlugin/obj/Release
/CanMonitor/Settings/obj/Release
/CanMonitor/bin/Debug
/CanMonitor/bin/Release
