<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CanMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <CanMonitor.Properties.Settings>
            <setting name="lastport" serializeAs="String">
                <value />
            </setting>
            <setting name="autoconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastdriver" serializeAs="String">
                <value />
            </setting>
            <setting name="limitlines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="linelimit" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="showsdo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showpdo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showHB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNMT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showNMTEC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="showEMCY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoFileLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FileLogFolder" serializeAs="String">
                <value>CanMonitorLog</value>
            </setting>
        </CanMonitor.Properties.Settings>
    </userSettings>
</configuration>
